{% extends "bases/base_dashboard.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'assets/css/dashforge.profile.css' %}">

<div class="content content-fixed content-profile">
    <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
      <div class="media d-block d-lg-flex">
        <div class="profile-sidebar pd-lg-r-25">
          <div class="row">
            <div class="col-sm-3 col-md-2 col-lg">
              <div class="avatar avatar-xxl avatar-online"><img src="{{ photographer.profile_picture.url }}" class="rounded-circle" alt=""></div>
            </div><!-- col -->
            <div class="col-sm-8 col-md-7 col-lg mg-t-20 mg-sm-t-0 mg-lg-t-25">
              <h5 class="mg-b-2 tx-spacing--1">{{ photographer.user.first_name }} {{ photographer.user.last_name }}</h5>
              <p class="tx-color-03 mg-b-25">{{ photographer.user }}</p>
              <div class="d-flex mg-b-25">
                <button class="btn btn-xs btn-white flex-fill">Message</button>
                <button class="btn btn-xs btn-primary flex-fill mg-l-10">Follow</button>
              </div>
  
              <p class="tx-13 tx-color-02 mg-b-25">{{ photographer.public_bio }}</p>
  
              <div class="d-flex">
                <div class="profile-skillset flex-fill">
                  <h4><a href="" class="link-01">0</a></h4>
                  <label>Stars</label>
                </div>
                <div class="profile-skillset flex-fill">
                  <h4><a href="" class="link-01">0</a></h4>
                  <label>Followers</label>
                </div>
                <div class="profile-skillset flex-fill">
                  <h4><a href="" class="link-01">0</a></h4>
                  <label>Visits</label>
                </div>
              </div>
            </div><!-- col -->
            <div class="col-sm-6 col-md-5 col-lg mg-t-40">
              <label class="tx-sans tx-10 tx-semibold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">Skills</label>
              <ul class="list-inline list-inline-skills">
                <li class="list-inline-item"><a href="">HTML5</a></li>
                <li class="list-inline-item"><a href="">Sass</a></li>
                <li class="list-inline-item"><a href="">CSS</a></li>
              </ul>
            </div><!-- col -->
            <div class="col-sm-6 col-md-5 col-lg mg-t-40">
              <label class="tx-sans tx-10 tx-semibold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">Websites &amp; Social Channel</label>
              <ul class="list-unstyled profile-info-list">
                <li><i data-feather="camera"></i> <a href="">@{{ request.user }}</a></li>
                  <li><i data-feather="twitter"></i> <a href="">{{ photographer.youtube }}</a></li>
                  <li><i data-feather="instagram"></i> <a href="">{{ photographer.instagram }}</a></li>
                  <li><i data-feather="globe"></i> <a href="">{{ photographer.tiktok }}</a></li>
              </ul>
            </div><!-- col -->
            <div class="col-sm-6 col-md-5 col-lg mg-t-40">
              <label class="tx-sans tx-10 tx-semibold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">Contact Information</label>
              <ul class="list-unstyled profile-info-list">
                <li><i data-feather="briefcase"></i> <span class="tx-color-03">{{ photographer.city }}</span></li>
                <li><i data-feather="smartphone"></i> <a href="">{{ photographer.user.phone }}</a></li>
                <li><i data-feather="calendar"></i> <a href="">{{ photographer.birth_date }}</a></li>
              </ul>
            </div><!-- col -->

          </div><!-- row -->

          
          
  
        </div><!-- profile-sidebar -->
        <div class="media-body mg-t-40 mg-lg-t-0 pd-lg-x-10">
           {% if user == request.user %}
          <div class="profile-update-option bg-white ht-50 bd d-flex justify-content-end mg-b-20 mg-lg-b-25 rounded">
            <div class="d-flex align-items-center pd-x-20 mg-r-auto">
              <i data-feather="edit-3"></i> <a href="" class="link-03 mg-l-10"><span class="d-none d-sm-inline">Share an</span> Update</a>
            </div>
            <div class="wd-50 bd-l d-flex align-items-center justify-content-center">
              <a href="" class="link-03" data-toggle="tooltip" title="Publish Photo"><i data-feather="image"></i></a>
            </div>
            <div class="wd-50 bd-l d-flex align-items-center justify-content-center">
              <a href="" class="link-03" data-toggle="tooltip" title="Publish Video"><i data-feather="video"></i></a>
            </div>
            <div class="wd-50 bd-l d-flex align-items-center justify-content-center">
              <a href="" class="link-03" data-toggle="tooltip" title="Write an Article"><i data-feather="file-text"></i></a>
            </div>
          </div>
          {% endif %}


          {% for message in messages %}
          <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
            <strong>{{ message }}  </strong>
          </div>
          {% endfor %}
  
          <div class="card mg-b-20 mg-lg-b-25">
            <div class="card-header pd-y-15 pd-x-20 d-flex align-items-center justify-content-between">
              <h6 class="tx-uppercase tx-semibold mg-b-0">Latest Activity</h6>
              <nav class="nav nav-icon-only">
                <a href="" class="nav-link"><i data-feather="more-horizontal"></i></a>
              </nav>
            </div><!-- card-header -->
            <div class="card-body pd-20 pd-lg-25">
              <div class="media align-items-center mg-b-20">
                <div class="avatar avatar-online"><img src="{{ photographer.profile_picture.url }}" class="rounded-circle" alt=""></div>
                <div class="media-body pd-l-15">
                  <h6 class="mg-b-3">{{ request.user.first_name }} {{ request.user.last_name }}</h6>
                  <span class="d-block tx-13 tx-color-03">Photographer</span>
                </div>
                <span class="d-none d-sm-block tx-12 tx-color-03 align-self-start">5 hours ago</span>
              </div><!-- media -->
              <p class="mg-b-20">Our team is expanding again. We are looking for a Product Manager and Software Engineer to drive our new aspects of our capital projects. If you're interested, please drop a comment here or simply message me. <a href="">#softwareengineer</a> <a href="">#engineering</a></p>
  
              <div class="bd bg-gray-50 pd-y-15 pd-x-15 pd-sm-x-20">
                <h6 class="tx-15 mg-b-3">We're hiring of Product Manager</h6>
                <p class="mg-b-0 tx-14">Full-time, $60,000 - $80,000 annual</p>
                <span class="tx-13 tx-color-03">Bay Area, San Francisco, CA</span>
              </div>
            </div>
            <div class="card-footer bg-transparent pd-y-10 pd-sm-y-15 pd-x-10 pd-sm-x-20">
              <nav class="nav nav-with-icon tx-13">
                <a href="" class="nav-link"><i data-feather="thumbs-up"></i> Like</a>
                <a href="" class="nav-link"><i data-feather="message-square"></i> Comment</a>
                <a href="" class="nav-link"><i data-feather="share"></i> Share</a>
              </nav>
            </div><!-- card-footer -->
          </div><!-- card -->
  
          <div class="card mg-b-20 mg-lg-b-25">
            <div class="card-header pd-y-15 pd-x-20 d-flex align-items-center justify-content-between">
              <h6 class="tx-uppercase tx-semibold mg-b-0">Brief Case</h6>
              {% if request.user == photographer.user %}
              <nav class="nav nav-with-icon tx-13">
                <a href="{% url 'photographer:update_briefcase' %}" class="nav-link"><i data-feather="plus"></i> Update</a>
              </nav>
              {% endif %}
            </div><!-- card-header -->
            <div class="card-body pd-25">
              <div class="media d-block d-sm-flex">
                <a href="{{ photographer.youtube }}">
                <div class="wd-80 ht-80 bg-ui-04 rounded d-flex align-items-center justify-content-center">
                  <i data-feather="youtube" class="tx-white-7 wd-40 ht-40"></i>
                </div>
                </a>
                <div class="media-body pd-t-25 pd-sm-t-0 pd-sm-l-25">
                  <h5 class="mg-b-5">{{ photographer.youtube }}</h5>
                  <p class="mg-b-3 tx-color-02"><span class="tx-medium tx-color-01">{{ photographer.user }}.</span>, {{ photographer.city }}</p>
                  <span class="d-block tx-13 tx-color-03">{{ photographer.created_at }} - Present</span>
  
                  <ul class="pd-l-10 mg-0 mg-t-20 tx-13">
                    <li>{{ photographer.public_bio }}</li>
                  </ul>
                </div>
              </div><!-- media -->
            </div>
            
          </div><!-- card -->
          
          

        </div><!-- media-body -->
        <div class="profile-sidebar mg-t-40 mg-lg-t-0 pd-lg-l-25">
          <div class="row">
            
           
            <div class="col-sm-6 col-md-5 col-lg mg-t-40 order-sm-1">
              <div class="d-flex align-items-center justify-content-between mg-b-15">
                <h6 class="tx-13 tx-uppercase tx-semibold mg-b-0">Mutual Connections</h6>
              </div>
              <div class="img-group img-group-mutual mg-b-20 justify-content-start">
                <img src="{{ photographer.profile_picture.url }}" class="img rounded-circle" alt="">
                <img src="{{ photographer.profile_picture.url }}" class="img rounded-circle" alt="">
                <img src="{{ photographer.profile_picture.url }}" class="img rounded-circle" alt="">
                <img src="{{ photographer.profile_picture.url }}" class="img rounded-circle" alt="">
                <img src="{{ photographer.profile_picture.url }}" class="img rounded-circle" alt="">
              </div>
              <h6>You have 18 mutual connection</h6>
              <p class="tx-color-03 mg-b-0">You and Fen both know Archie Cantones, Socrates Itumay, and 17 others</p>
            </div><!-- col -->
            <div class="col-sm-6 col-md-5 col-lg mg-t-40">
              <div class="d-flex align-items-center justify-content-between mg-b-15">
                <h6 class="tx-13 tx-uppercase tx-semibold mg-b-0">Photos</h6>
                {% if request.user == photographer.user %}
                <a href="{% url 'photographer:update_briefcase' %}" class="link-03">Update Photo</a>
                {% endif %}
              </div>
  
              <div class="row row-xxs">
                <div class="col-4">
                  <a href="{{ briefcase_.photo_1.url }}" class="d-block ht-60"><img src="{{ briefcase_.photo_1.url }}" class="img-fit-cover" alt=""></a>
                </div><!-- col -->
                <div class="col-4">
                  <a href="{{ briefcase_.photo_2.url }}" class="d-block ht-60"><img src="{{ briefcase_.photo_2.url }}" class="img-fit-cover" alt=""></a>
                </div><!-- col -->
                <div class="col-4">
                  <a href="{{ briefcase_.photo_3.url }}" class="d-block ht-60"><img src="{{ briefcase_.photo_3.url }}" class="img-fit-cover" alt=""></a>
                </div><!-- col -->
                <div class="col-4 mg-t-2">
                  <a href="{{ briefcase_.photo_4.url }}" class="d-block ht-60"><img src="{{ briefcase_.photo_4.url }}" class="img-fit-cover" alt=""></a>
                </div><!-- col -->
                <div class="col-4 mg-t-2">
                  <a href="{{ briefcase_.photo_5.url }}" class="d-block ht-60"><img src="{{ briefcase_.photo_5.url }}" class="img-fit-cover" alt=""></a>
                </div><!-- col -->
              </div><!-- row -->
            </div><!-- col -->
          </div><!-- row -->
        </div><!-- profile-sidebar -->
      </div><!-- media -->
    </div><!-- container -->
  </div><!-- content -->
  


{% endblock %}