{% extends "bases/base_login.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="content content-fixed content-auth">
    <div class="container">
       <div class="media align-items-stretch justify-content-center ht-100p pos-relative">
          <div class="media-body align-items-center d-none d-lg-flex">
             <div class="mx-wd-600">
                <img src="{% static 'assets/img/img15.png' %}" class="img-fluid" alt="">
             </div>
          </div>
          <!-- media-body -->
          <div class="sign-wrapper mg-lg-r-50 mg-xl-l-60">
             <div class="wd-100p">
                <h3 class="tx-color-01 mg-b-5">Sign In</h3>
                <p class="tx-color-03 tx-16 mg-b-40">Welcome back! Please signin to continue.</p>
                <form method="post">
                   {% csrf_token %}
                   {% if form.errors %}
                   <div class="alert alert-danger" role="alert">
                      <h4 class="alert-heading">Error!</h4>
                      <p>{{ form.errors }}</p>
                   </div>
                   {% endif %}
                   <div class="form-group">
                     <div id="div_id_username" class="form-group">
                        <label for="id_username" class="requiredField"> Email<span class="asteriskField">*</span> </label>
                    
                        <div class="">
                            <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" class="textinput textInput form-control" required id="id_username" />
                        </div>
                    </div>
                    
                   </div>
                   <div class="form-group">
                      <div class="d-flex justify-content-between mg-b-5">
                         <label for="id_password" class=" requiredField" >Password <span class="asteriskField">*</span></label>
                         <a href="#" class="tx-13">Forgot password?</a>
                      </div>
                      <input type="password" name="password" autocomplete="current-password" class="textinput textInput form-control" placeholder="Enter your password" required id="id_password">
                   </div>
                   <button type="submit" class="btn btn-brand-02 btn-block">Sign In</button>
                   <div class="divider-text">or</div>
                   <button class="btn btn-outline-facebook btn-block">Sign In With Google</button>
                </form>

                <div class="divider-text">Don't have an account? </div>
                
                <div class="divider-text"><div class="btn-group" role="group" aria-label="Basic example">
                  <a href="{% url 'modrator:signup_photographer' %}" class="btn btn-xs btn-outline-primary btn-icon">Signup as Creator <i data-feather="camera"></i> </a>
                  <a href="{% url 'modrator:signup_client' %}" class="btn btn-xs btn-outline-danger btn-icon">Signup as Client <i data-feather="user-check"></i> </a>
               </div></div>  

             </div>
          </div>
          <!-- sign-wrapper -->
       </div>
       <!-- media -->
    </div>
    <!-- container -->
 </div>
 <!-- content -->


{% endblock %}