{% extends "bases/base_login.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    
<div class="content content-fixed content-auth">
    <div class="container">
      <div class="media align-items-stretch justify-content-center ht-100p">
        <div class="sign-wrapper mg-lg-r-50 mg-xl-r-60">
          <div class="pd-t-20 wd-100p">
            <h4 class="tx-color-01 mg-b-5">Create New Account as Client</h4>
            <p class="tx-color-03 tx-16 mg-b-40">It's free to signup and only takes a minute.</p>
            
            <div class="row">
                <div class="col-lg-12">
                    {% if form.errors %}
                   <div class="alert alert-danger" role="alert">
                      <h4 class="alert-heading">Error!</h4>
                      <p>{{ form.errors }}</p>
                   </div>
                   {% endif %}

                    <div class="form-group">
                        {{ form.username|as_crispy_field }}
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                    {{ form.password1|as_crispy_field }}
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        {{ form.password2|as_crispy_field }}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        {{ form.first_name|as_crispy_field }}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        {{ form.last_name|as_crispy_field }}
                    </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                      {{ form.phone|as_crispy_field }}
                  </div>
              </div>
                
                <div class="col-lg-12">
                    <div class="form-group tx-12">
                        By clicking <strong>Create an account</strong> below, you agree to our terms of service and privacy statement.
                      </div><!-- form-group -->
                </div>
       
        </div>

            <button type="submit" class="btn btn-brand-02 btn-block">Create Account</button>
            <div class="divider-text">or</div>
            <button class="btn btn-outline-facebook btn-block">Sign Up With Google</button>
            <div class="tx-13 mg-t-20 tx-center">Already have an account? <a href="{% url 'login' %}">Sign In</a></div>
          </div>
        </div><!-- sign-wrapper -->
        <div class="media-body pd-y-30 pd-lg-x-50 pd-xl-x-60 align-items-center d-none d-lg-flex pos-relative">
          <div class="mx-lg-wd-500 mx-xl-wd-550">
            <img src="{% static 'assets/img/img16.png' %}" class="img-fluid" alt="">
          </div>
         
        </div><!-- media-body -->
      </div><!-- media -->
    </div><!-- container -->
  </div><!-- content -->
</form>




{% endblock %}