{% extends "bases/base_dashboard.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}


<link rel="stylesheet" href="{% static 'assets/css/dashforge.demo.css' %}">

<link href="{% static 'assets/lib/typicons.font/typicons.css' %}" rel="stylesheet">

<link href="{% static 'assets/lib/prismjs/themes/prism-vs.css' %}" rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

  <div class="content content-components">
    <div class="container">
      {% if briefcase__ %}
      <ol class="breadcrumb df-breadcrumbs mg-b-10">
        <li class="breadcrumb-item"><a >Photographer</a></li>
        <li class="breadcrumb-item active" aria-current="page">BriefCase</li>
      </ol>

      {% else %}
      <ol class="breadcrumb df-breadcrumbs mg-b-10">
        <li class="breadcrumb-item"><a >Signup Photographer</a></li>
        <li class="breadcrumb-item active" aria-current="page">Showcase</li>
      </ol>
      {% endif %}

      {% if briefcase__ %}
      <h1 class="df-title">Update Briefcase</h1>
      {% else %}
      <h1 class="df-title">You are almost done</h1>
      {% endif %}
     
      <hr class="mg-y-40">

      <h4 id="section1" class="mg-b-10">BriefCase</h4>

        <div data-label="Photographer" class="df-example demo-forms">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <strong>{{ message }} </strong>
            </div>
            {% endfor %}

            {% if form.errors %}

            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ form.errors }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
            </div>

            {% endif %}

            <div class="form-group">
                {{ form.photo_1|as_crispy_field }}
            </div>

            <div class="form-group">
                {{ form.photo_2|as_crispy_field }}
            </div>

            <div class="form-group">
              {{ form.photo_3|as_crispy_field }}
            </div>

            <div class="form-group">
              {{ form.photo_4|as_crispy_field }}
            </div>

            <div class="form-group">
              {{ form.photo_5|as_crispy_field }}
            </div>

            <div class="form-group">
              {{ form.video_url|as_crispy_field }}
            </div>

            <button class="btn btn-primary" type="submit">Submit</button>
          </form>
        </div><!-- df-example -->
      

      <footer class="content-footer">
        <div>
            <span>&copy; 2020 AmplyPix v1.0.0. </span>
            <span>Created by <a href="https://blendgoc.com">BlendGoc</a></span>
          </div>
          <div>
            <nav class="nav">
              <a href="#" class="nav-link">Get Help</a>
            </nav>
          </div>
      </footer><!-- content-footer -->

    </div><!-- container -->
  </div><!-- content -->
  
  <script src="{% static 'assets/lib/prismjs/prism.js' %}"></script>
  <script src="{% static 'assets/lib/parsleyjs/parsley.min.js' %}"></script>
  <script src="{% static 'assets/lib/jquery-steps/build/jquery.steps.min.js' %}"></script>


{% endblock %}