
<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:site" content="@amplypix">
    <meta name="twitter:creator" content="@amplypix">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="AmplyPix">
    <meta name="twitter:description" content="Freelance Photographer">
    <meta name="twitter:image" content="https://blendgoc.com/new_assets/images/logo.png">

    <!-- Facebook -->
    <meta property="og:url" content="https://blendgoc.com">
    <meta property="og:title" content="AmplyPix">
    <meta property="og:description" content="Freelance Photographer">

    <meta property="og:image" content="https://blendgoc.com/new_assets/images/logo.png">
    <meta property="og:image:secure_url" content="https://blendgoc.com/new_assets/images/logo.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Freelance Photographer">
    <meta name="author" content="Blendgoc">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.png' %}">

    <title>AmplyPix Freelance Photographer</title>

    <!-- vendor css -->
    <link href="{% static 'assets/lib/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">


    <!-- DashForge CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/dashforge.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/dashforge.auth.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/dashforge.dashboard.css' %}">

    
    
  </head>
  {% if client %}
  <body class="page-profile">
  {% elif client_u %}  
  <body class="pos-relative" data-spy="scroll" data-target="#navSection" data-offset="120">
  {% else %}
  <body >
  {% endif %}

    <header class="navbar navbar-header navbar-header-fixed">

      <div class="navbar-brand">
        <a href="{% url 'client:index' %}" class="df-logo">amply<span>pix</span></a>
      </div><!-- navbar-brand -->

      {% if request.user.is_authenticated and request.user.is_photographer and request.user.photographerap.validate_briefcase %}

      {% if client_u %}
      <a href="" id="sidebarMenuOpen" class="burger-menu"><i data-feather="arrow-left"></i></a>
      {% else %}
      <a href="" id="mainMenuOpen" class="burger-menu"><i data-feather="menu"></i></a>
      {% endif %}
      
      
      <div id="navbarMenu" class="navbar-menu-wrapper">
        <div class="navbar-menu-header">
          <a href="{% url 'client:index' %}" class="df-logo">amply<span>pix</span></a>
          <a id="mainMenuClose" href=""><i data-feather="x"></i></a>
        </div><!-- navbar-menu-header -->
        
        <ul class="nav navbar-menu">
          <li class="nav-label pd-l-20 pd-lg-l-25 d-lg-none">Main Navigation</li>
          <li class="nav-item">
            <a href="{% url 'photographer:dashboard_photographer' %}" class="nav-link"><i data-feather="pie-chart"></i> Dashboard</a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link"><i data-feather="pie-chart"></i> Active Projects</a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link"><i data-feather="mail"></i> Inbox</a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link"><i data-feather="file-text"></i> My Drive</a>
          </li>

          <li class="nav-item with-sub">
            <a href="" class="nav-link"><i data-feather="layers"></i> Profile</a>
            <div class="navbar-menu-sub">
              <div class="d-lg-flex">
                <ul>
                  <li class="nav-sub-item"><a href="#" class="nav-sub-link"><i data-feather="file-text"></i> Ranking</a></li>
                  <li class="nav-sub-item"><a href="#" class="nav-sub-link"><i data-feather="users"></i> Linked Members</a></li>
                </ul>
              </div>
            </div><!-- nav-sub -->
          </li>
          
        </ul>
      </div><!-- navbar-menu-wrapper -->
      <div class="navbar-right">
       
        <a id="navbarSearch" href="#" class="search-link"><i data-feather="search"></i></a>
         
        <div class="dropdown dropdown-profile">
         
          <a href="" class="dropdown-link" data-toggle="dropdown" data-display="static">
            <div class="avatar avatar-sm"><img src="{{ request.user.photographerap.profile_picture.url }}" class="rounded-circle" alt=""></div>
          </a><!-- dropdown-link -->
          <div class="dropdown-menu dropdown-menu-right tx-13">
            <div class="avatar avatar-lg mg-b-15"><img src="{{ request.user.photographerap.profile_picture.url }}" class="rounded-circle" alt=""></div>
            <h6 class="tx-semibold mg-b-5">{{ request.user.first_name }} {{ request.user.last_name }} </h6>
           
            <p class="mg-b-25 tx-12 tx-color-03">Client</p>

            <a href="{% url 'photographer:update_profile_photographer' %}" class="dropdown-item"><i data-feather="edit-3"></i> Edit Profile</a>
            <a href="{% url 'photographer:profile_photographer' request.user %}" class="dropdown-item"><i data-feather="user"></i> View Profile</a>
            <div class="dropdown-divider"></div>


            <a href="{% url 'logout' %}" class="dropdown-item"><i data-feather="log-out"></i>Sign Out</a>
          </div><!-- dropdown-menu -->
        </div><!-- dropdown -->
      </div><!-- navbar-right -->
      <div class="navbar-search">
        <div class="navbar-search-header">
          <input type="search" class="form-control" placeholder="Type and hit enter to search...">
          <button class="btn"><i data-feather="search"></i></button>
          <a id="navbarSearchClose" href="" class="link-03 mg-l-5 mg-lg-l-10"><i data-feather="x"></i></a>
        </div><!-- navbar-search-header -->
        <div class="navbar-search-body">
          <label class="tx-10 tx-medium tx-uppercase tx-spacing-1 tx-color-03 mg-b-10 d-flex align-items-center">Recent Searches</label>
          <ul class="list-unstyled">
            <li><a href="#">modern dashboard</a></li>
            <li><a href="#">calendar app</a></li>
            <li><a href="#">modal examples</a></li>
            <li><a href="#">avatar</a></li>
          </ul>

          <hr class="mg-y-30 bd-0">

          <label class="tx-10 tx-medium tx-uppercase tx-spacing-1 tx-color-03 mg-b-10 d-flex align-items-center">Search Suggestions</label>

          <ul class="list-unstyled">
            <li><a href="#">task</a></li>
            <li><a href="#">button groups</a></li>
            <li><a href="#">form elements</a></li>
            <li><a href="#">contact app</a></li>
          </ul>
        </div><!-- navbar-search-body -->
      </div><!-- navbar-search -->
      {% elif request.user.is_authenticated and request.user.is_client and request.user.clientap.type_client != None %}

      {% if client_u %}
      <a href="" id="sidebarMenuOpen" class="burger-menu"><i data-feather="arrow-left"></i></a>
      {% else %}
      <a href="" id="mainMenuOpen" class="burger-menu"><i data-feather="menu"></i></a>
      {% endif %}
      
      <div id="navbarMenu" class="navbar-menu-wrapper">
        <div class="navbar-menu-header">
          <a href="{% url 'client:index' %}" class="df-logo">amply<span>pix</span></a>
          <a id="mainMenuClose" href=""><i data-feather="x"></i></a>
        </div><!-- navbar-menu-header -->
        
        <ul class="nav navbar-menu">
            <li class="nav-label pd-l-20 pd-lg-l-25 d-lg-none">Main Navigation</li>
            <li class="nav-item">
              <a href="{% url 'client:dashboard_client' %}" class="nav-link"><i data-feather="pie-chart"></i> Dashboard</a>
            </li>
  
            <li class="nav-item">   
              <a href="{% url 'client:list_task' %}" class="nav-link"><i data-feather="pie-chart"></i> My Projects</a>
            </li>
  
            <li class="nav-item">
              <a href="#" class="nav-link"><i data-feather="search"></i> Find
                Photographer</a>
            </li>
  
            <li class="nav-item">
              <a href="#" class="nav-link"><i data-feather="mail"></i> Inbox</a>
            </li>
  
            <li class="nav-item">
              <a href="#" class="nav-link"><i data-feather="mail"></i> Transactions</a>
            </li>
  
            <li class="nav-item with-sub">
              <a href="" class="nav-link"><i data-feather="layers"></i> Profile</a>
              <div class="navbar-menu-sub">
                <div class="d-lg-flex">
                  <ul>
                    <li class="nav-sub-item"><a href="#" class="nav-sub-link"><i data-feather="file-text"></i> Ranking</a></li>
                    <li class="nav-sub-item"><a href="#" class="nav-sub-link"><i data-feather="users"></i> Linked Photographer</a></li>
                  </ul>
                </div>
              </div><!-- nav-sub -->
            </li>
            
          </ul>
      </div><!-- navbar-menu-wrapper -->
      <div class="navbar-right">
       
        <a id="navbarSearch" href="#" class="search-link"><i data-feather="search"></i></a>
         
        <div class="dropdown dropdown-profile">
         
          <a href="" class="dropdown-link" data-toggle="dropdown" data-display="static">
            <div class="avatar avatar-sm"><img src="{{ request.user.clientap.profile_picture.url }}" class="rounded-circle" alt=""></div>
          </a><!-- dropdown-link -->
          <div class="dropdown-menu dropdown-menu-right tx-13">
            <div class="avatar avatar-lg mg-b-15"><img src="{{ request.user.clientap.profile_picture.url }}" class="rounded-circle" alt=""></div>
            <h6 class="tx-semibold mg-b-5">{{ request.user.first_name }} {{ request.user.last_name }} </h6>
           
            <p class="mg-b-25 tx-12 tx-color-03">Client</p>
            
            <a href="{% url 'client:update_profile' %}" class="dropdown-item"><i data-feather="edit-3"></i> Edit Profile</a>
            <a href="{% url 'client:profile_client' request.user %}" class="dropdown-item"><i data-feather="user"></i> View Profile</a>
            <div class="dropdown-divider"></div>

            <a href="{% url 'logout' %}" class="dropdown-item"><i data-feather="log-out"></i>Sign Out</a>
          </div><!-- dropdown-menu -->
        </div><!-- dropdown -->
      </div><!-- navbar-right -->
      <div class="navbar-search">
        <div class="navbar-search-header">
          <input type="search" class="form-control" placeholder="Type and hit enter to search...">
          <button class="btn"><i data-feather="search"></i></button>
          <a id="navbarSearchClose" href="" class="link-03 mg-l-5 mg-lg-l-10"><i data-feather="x"></i></a>
        </div><!-- navbar-search-header -->
        <div class="navbar-search-body">
          <label class="tx-10 tx-medium tx-uppercase tx-spacing-1 tx-color-03 mg-b-10 d-flex align-items-center">Recent Searches</label>
          <ul class="list-unstyled">
            <li><a href="#">modern dashboard</a></li>
            <li><a href="#">calendar app</a></li>
            <li><a href="#">modal examples</a></li>
            <li><a href="#">avatar</a></li>
          </ul>

          <hr class="mg-y-30 bd-0">

          <label class="tx-10 tx-medium tx-uppercase tx-spacing-1 tx-color-03 mg-b-10 d-flex align-items-center">Search Suggestions</label>

          <ul class="list-unstyled">
            <li><a href="#">task</a></li>
            <li><a href="#">button groups</a></li>
            <li><a href="#">form elements</a></li>
            <li><a href="#">contact app</a></li>
          </ul>
        </div><!-- navbar-search-body -->
      </div><!-- navbar-search -->


      {% endif %}

    </header><!-- navbar -->

    

    {% if client_u %}
    <div id="sidebarMenu" class="sidebar sidebar-fixed sidebar-components">
      <div class="sidebar-header">
        <a href="" id="mainMenuOpen"><i data-feather="menu"></i></a>
        <h5>Components</h5>
        <a href="" id="sidebarMenuClose"><i data-feather="x"></i></a>
      </div><!-- sidebar-header -->
      <div class="sidebar-body">
        <ul class="sidebar-nav">
          <li class="nav-label mg-b-15">Client Options</li>

          <li class="nav-item">
            <a href="" class="nav-link with-sub"><i data-feather="user"></i> My Profile</a>
            <nav class="nav">
              <a href="#">Edit Profile</a>
              <a href="#">Edit User</a>
            </nav>
        </li>
        
        
          <li class="nav-item">
              <a href="" class="nav-link with-sub"><i data-feather="star"></i> Interest</a>
              <nav class="nav">
              {% if client_u.user.interestc %}
              <a href="">Edit interest</a>
              {% else %}  
                <a href="">Add interest</a>
              {% endif %}
              </nav>
          </li>

          <li class="nav-item">
            <a href="" class="nav-link with-sub"><i data-feather="camera"></i> Photography</a>
            <nav class="nav">
              <a href="el-accordion.html">My Assignament</a>
              <a href="el-alerts.html">Create Assignament</a>
            </nav>
          </li>
        </ul> 
        
      </div><!-- sidebar-body -->
    </div><!-- sidebar -->
    {% else %}

    {% endif %}

    {% block content %}

    
    
    {% endblock %}

    {% if client_u %}
    
    {% else %}
    <footer class="footer">
      <div>
        <span>&copy; 2020 AmplyPix v1.0.0. </span>
        <span>Created by <a href="https://blendgoc.com">BlendGoc</a></span>
      </div>
      <div>
        <nav class="nav">
          <a href="#" class="nav-link">Get Help</a>
        </nav>
      </div>
    </footer>
    {% endif %}
    <script src="{% static 'assets/lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/lib/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'assets/lib/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>

    <script src="{% static 'assets/js/dashforge.js' %}"></script>

    <!-- append theme customizer -->
    <script src="{% static 'assets/lib/js-cookie/js.cookie.js' %}"></script>
    <script src="{% static 'assets/js/dashforge.settings.js' %}"></script>

   
    <!-- graph for dashboard -->
    <script src="{% static 'assets/lib/jquery.flot/jquery.flot.js' %}"></script>
    <script src="{% static 'assets/lib/jquery.flot/jquery.flot.stack.js' %}"></script>
    <script src="{% static 'assets/lib/jquery.flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'assets/lib/flot.curvedlines/curvedLines.js' %}"></script>
    <script src="{% static 'assets/lib/peity/jquery.peity.min.js' %}"></script>
    <script src="{% static 'assets/lib/chart.js/Chart.bundle.min.js' %}"></script>

    <script src="{% static 'assets/js/dashforge.sampledata.js' %}"></script>
    <script src="{% static 'assets/js/dashboard-four.js' %}"></script>

    <!-- append theme customizer -->

    


    
  </body>
</html>