{% extends "bases/base_dashboard.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'assets/css/dashforge.profile.css' %}">

<div class="content content-fixed content-profile">
    <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
      <div class="media d-block d-lg-flex">
        <div class="profile-sidebar pd-lg-r-25">
          <div class="row">
            <div class="col-sm-3 col-md-2 col-lg">
              <div class="avatar avatar-xxl avatar-online"><img src="{{ client.profile_picture.url }}" class="rounded-circle" alt=""></div>
            </div><!-- col -->
            <div class="col-sm-8 col-md-7 col-lg mg-t-20 mg-sm-t-0 mg-lg-t-25">
              <h5 class="mg-b-2 tx-spacing--1">{{ client.user.first_name }} {{ client.user.last_name }}</h5>
              <p class="tx-color-03 mg-b-25">{{ client.user }}</p>
              <div class="d-flex mg-b-25">
                <button class="btn btn-xs btn-white flex-fill">Message</button>
                <button class="btn btn-xs btn-primary flex-fill mg-l-10">Follow</button>
              </div>

              
              <p class="tx-13 tx-color-02 mg-b-25">{{ client.title }}</p>
           

              <div class="d-flex">
                <div class="profile-skillset flex-fill">
                  <h4><a href="" class="link-01">0</a></h4>
                  <label>Stars</label>
                </div>
                <div class="profile-skillset flex-fill">
                  <h4><a href="" class="link-01">0</a></h4>
                  <label>Followers</label>
                </div>
                <div class="profile-skillset flex-fill">
                  <h4><a href="" class="link-01">0</a></h4>
                  <label>Following</label>
                </div>
              </div>
            </div><!-- col -->
            <div class="col-sm-6 col-md-5 col-lg mg-t-40">
              <label class="tx-sans tx-10 tx-semibold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">Websites &amp; Social Channel</label>
              <ul class="list-unstyled profile-info-list">  
                <li><i data-feather="globe"></i> <a href="">{{ client.website }}</a></li>
              </ul>
            </div><!-- col -->
            <div class="col-sm-6 col-md-5 col-lg mg-t-40">
              <label class="tx-sans tx-10 tx-semibold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">Contact Information</label>
              <ul class="list-unstyled profile-info-list">
                <li><i data-feather="briefcase"></i> <span class="tx-color-03">{{ client.city }}</span></li>
                <li><i data-feather="smartphone"></i> <a href="">{{ client.user.phone }}</a></li>
                <li><i data-feather="mail"></i> <a href="">{{ client.user }}</a></li>
              </ul>
            </div><!-- col -->
            <div class="col-sm-6 col-md-5 col-lg mg-t-40">
              <label class="tx-sans tx-10 tx-semibold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">Explore</label>
              <nav class="nav nav-classic tx-13">
                <a href="" class="nav-link"><i data-feather="briefcase"></i> <span>Projects</span></a>
                <a href="" class="nav-link"><i data-feather="camera"></i> <span>Linked Photographer</span></a>
              </nav>
            </div><!-- col -->
          </div><!-- row -->

        </div><!-- profile-sidebar -->
        <div class="media-body mg-t-40 mg-lg-t-0 pd-lg-x-10">
          <div class="profile-update-option bg-white ht-50 bd d-flex justify-content-end mg-b-20 mg-lg-b-25 rounded">
            <div class="d-flex align-items-center pd-x-20 mg-r-auto">
              <i data-feather="edit-3"></i> <a href="" class="link-03 mg-l-10"><span class="d-none d-sm-inline">Share an</span> Update</a>
            </div>
            <div class="wd-50 bd-l d-flex align-items-center justify-content-center">
              <a href="" class="link-03" data-toggle="tooltip" title="Publish Photo"><i data-feather="image"></i></a>
            </div>
            <div class="wd-50 bd-l d-flex align-items-center justify-content-center">
              <a href="" class="link-03" data-toggle="tooltip" title="Write an Article"><i data-feather="file-text"></i></a>
            </div>
          </div>

          {% for message in messages %}
          <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
            </button>
            <strong>{{ message }}  </strong>
          </div>
          {% endfor %}

          <div class="card mg-b-20 mg-lg-b-25">
            <div class="card-header pd-y-15 pd-x-20 d-flex align-items-center justify-content-between">
              <h6 class="tx-uppercase tx-semibold mg-b-0">Latest Activity</h6>
              <nav class="nav nav-icon-only">
                <a href="" class="nav-link"><i data-feather="more-horizontal"></i></a>
              </nav>
            </div><!-- card-header -->
            <div class="card-body pd-20 pd-lg-25">
              <div class="media align-items-center mg-b-20">
                <div class="avatar avatar-online"><img src="{{ client.profile_picture.url }}" class="rounded-circle" alt=""></div>
                <div class="media-body pd-l-15">
                  <h6 class="mg-b-3">{{ client.user.first_name }} {{ client.user.last_name }}</h6>
                  <span class="d-block tx-13 tx-color-03">Cigarette Butt Collector</span>
                </div>
                <span class="d-none d-sm-block tx-12 tx-color-03 align-self-start">5 hours ago</span>
              </div><!-- media -->
              <p class="mg-b-20">Our wedding needs an excellent cameraman, who has the following skills: ........ If interested, please leave a comment here or simply apply.</p>

              <div class="bd bg-gray-50 pd-y-15 pd-x-15 pd-sm-x-20">
                <h6 class="tx-15 mg-b-3">We're hiring of Photographer</h6>
                <p class="mg-b-0 tx-14">Full-time, &#8377;5000 - &#8377;7000 annual</p>
                <span class="tx-13 tx-color-03">Bay Area, San Francisco, CA</span>
              </div>
            </div>
            <div class="card-footer bg-transparent pd-y-10 pd-sm-y-15 pd-x-10 pd-sm-x-20">
              <nav class="nav nav-with-icon tx-13">
                <a href="" class="nav-link"><i data-feather="thumbs-up"></i> Like</a>
                <a href="" class="nav-link"><i data-feather="message-square"></i> Comment</a>
              </nav>
            </div><!-- card-footer -->
          </div><!-- card -->

          
          <div class="card card-profile-interest">
            <div class="card-header pd-y-15 pd-x-20 d-flex align-items-center justify-content-between">
              <h6 class="tx-uppercase tx-semibold mg-b-0">Last Projects</h6>
              <nav class="nav nav-with-icon tx-13">
                <a href="" class="nav-link">Browse Projects <i data-feather="arrow-right" class="mg-l-5 mg-r-0"></i></a>
              </nav>
            </div><!-- card-header -->
            <div class="card-body pd-25">
              <div class="row">
                {% if client.user.interestc %}

                <div class="col-sm col-lg-12 col-xl mg-t-25 mg-sm-t-0 mg-lg-t-25 mg-xl-t-0">

              {% else %}
              <div class="col-sm col-lg-12 col-xl mg-t-25 mg-sm-t-0 mg-lg-t-25 mg-xl-t-0">
                <div class="media">
                  <div class="wd-45 ht-45 bg-primary rounded d-flex align-items-center justify-content-center">
                    <i data-feather="home" class="tx-white-7 wd-20 ht-20"></i>
                  </div>
                  <div class="media-body pd-l-25">
                    <h6 class="tx-color-01 mg-b-5">Without projects add.</h6>
                  </div>
                </div><!-- media -->

              </div><!-- col -->

            </div><!-- row -->  
              {% endif %}

            </div><!-- card-body -->
          </div><!-- card -->

        </div><!-- media-body -->
        <div class="profile-sidebar mg-t-40 mg-lg-t-0 pd-lg-l-25">
          <div class="row">
            
            <div class="col-sm-6 col-md-5 col-lg mg-t-40 order-sm-1">
              <div class="d-flex align-items-center justify-content-between mg-b-15">
                <h6 class="tx-13 tx-uppercase tx-semibold mg-b-0">Visit your Profile</h6>
              </div>
              <div class="img-group img-group-mutual mg-b-20 justify-content-start">
                <img src="{{ client.profile_picture.url }}" class="img rounded-circle" alt="">
                <img src="{{ client.profile_picture.url }}" class="img rounded-circle" alt="">
                <img src="{{ client.profile_picture.url }}" class="img rounded-circle" alt="">
                <img src="{{ client.profile_picture.url }}" class="img rounded-circle" alt="">
                <img src="{{ client.profile_picture.url }}" class="img rounded-circle" alt="">
              </div>
              <h6>Your page has been visited 18</h6>
              <p class="tx-color-03 mg-b-0">List of the last visits</p>
            </div><!-- col -->
          </div><!-- row -->
        </div><!-- profile-sidebar -->
      </div><!-- media -->
    </div><!-- container -->
  </div><!-- content -->


{% endblock %}