{% extends "bases/base_dashboard.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}


<link rel="stylesheet" href="{% static 'assets/css/dashforge.demo.css' %}">

<link href="{% static 'assets/lib/typicons.font/typicons.css' %}" rel="stylesheet">

<link href="{% static 'assets/lib/prismjs/themes/prism-vs.css' %}" rel="stylesheet">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>



  <div class="content content-components">
    <div class="container">
      <ol class="breadcrumb df-breadcrumbs mg-b-10">
        <li class="breadcrumb-item"><a >Client</a></li>
        <li class="breadcrumb-item"><a href="{% url 'client:profile_client' request.user.username %}">Profile</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Profile</li>
      </ol>

      <h1 class="df-title">Edit Profile</h1>
     
      <hr class="mg-y-40">

      <h4 id="section1" class="mg-b-10">Profile form</h4>

        <div data-label="Client" class="df-example demo-forms">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% if form.errors %}

            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ form.errors }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
            </div>

            {% endif %}

            {% if form_two.errors %}

            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ form_two.errors }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
            </div>

            {% endif %}

            <fieldset class="form-fieldset">
              <legend>User Data</legend>
                  <div class="form-group">
                          {{ form_two.first_name|as_crispy_field }}
                  </div>

                  <div class="form-group">
                        {{ form_two.last_name|as_crispy_field }}
                  </div>  

                  <div class="form-group">
                      {{ form_two.phone|as_crispy_field }}
                  </div>    
            </fieldset>

            <br>

            <fieldset class="form-fieldset">
              <legend>Profile Picture</legend>
                  <div class="form-group">
                          {{ form.profile_picture|as_crispy_field }}
                  </div>

            </fieldset>

            <br>

            <fieldset class="form-fieldset">
              <legend>Client Info</legend>
                  <div class="form-group">
                    {{ form.company_name|as_crispy_field }}
                  </div>
                  <div class="form-group">
                    <label class="">
                      City
                    </label>

                    <div class="">
                      {{ form.city }}
                      {{ form.media }}
                    </div>
                    
                  </div>
                  <div class="form-group">
                      {{ form.short_bio|as_crispy_field }}
                  </div>
                  <div class="form-group">
                    {{ form.type_client|as_crispy_field }}
                  </div>

            </fieldset>

            <br>

            <fieldset class="form-fieldset">
                <legend>WEBSITES & SOCIAL CHANNEL</legend>
                <div class="form-group">
                    {{ form.website|as_crispy_field }}
                </div>  
            </fieldset>

            <br>


            <button class="btn btn-primary" type="submit">Submit</button>
          </form>
        </div><!-- df-example -->
      

      <footer class="content-footer">
        <div>
            <span>&copy; 2020 AmplyPix v1.0.0. </span>
            <span>Created by <a href="https://blendgoc.com">BlendGoc</a></span>
          </div>
          <div>
            <nav class="nav">
              <a href="#" class="nav-link">Get Help</a>
            </nav>
          </div>
      </footer><!-- content-footer -->

    </div><!-- container -->
  </div><!-- content -->
  
  <script src="{% static 'assets/lib/prismjs/prism.js' %}"></script>
  <script src="{% static 'assets/lib/parsleyjs/parsley.min.js' %}"></script>
  <script src="{% static 'assets/lib/jquery-steps/build/jquery.steps.min.js' %}"></script>

  <script>
    feather.replace()
  </script>

{% endblock %}