{% extends "bases/base_dashboard.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}


<link rel="stylesheet" href="{% static 'assets/css/dashforge.demo.css' %}">

<link href="{% static 'assets/lib/typicons.font/typicons.css' %}" rel="stylesheet">

<link href="{% static 'assets/lib/prismjs/themes/prism-vs.css' %}" rel="stylesheet">



  <div class="content content-components">
    <div class="container">
      <ol class="breadcrumb df-breadcrumbs mg-b-10">
        <li class="breadcrumb-item"><a >Client</a></li>
        <li class="breadcrumb-item"><a href="{% url 'client:profile_client' request.user.username %}">User</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit User</li>
      </ol>

      <h1 class="df-title">Edit User</h1>
     
      <hr class="mg-y-40">

      <h4 id="section1" class="mg-b-10">User form</h4>

        <div data-label="Client" class="df-example demo-forms">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% if form.errors %}

            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ form.errors }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
            </div>

            {% endif %}

            <div class="form-group">
                {{ form.first_name|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ form.last_name|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ form.phone|as_crispy_field }}
            </div>
            
            <button class="btn btn-primary" type="submit">Submit</button>
          </form>
        </div><!-- df-example -->
      

      <footer class="content-footer">
        <div>
            <span>&copy; 2020 AmplyPix v1.0.0. </span>
            <span>Created by <a href="https://blendgoc.com">BlendGoc</a></span>
          </div>
          <div>
            <nav class="nav">
              <a href="#" class="nav-link">Get Help</a>
            </nav>
          </div>
      </footer><!-- content-footer -->

    </div><!-- container -->
  </div><!-- content -->
  
  <script src="{% static 'assets/lib/prismjs/prism.js' %}"></script>
  <script src="{% static 'assets/lib/parsleyjs/parsley.min.js' %}"></script>
  <script src="{% static 'assets/lib/jquery-steps/build/jquery.steps.min.js' %}"></script>

  <script>
    feather.replace()
  </script>

{% endblock %}